<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
    <title>Document</title>
</head>

<body>
    <script type="text/javascript">
        const socket = io.connect("http://localhost:5000");
        
        document.addEventListener('DOMContentLoaded', ()=> {
            socket.send('get_messages');
        },false);

        socket.on('message', (msg)=> {
            for (let i=0;i< msg.length;i++){
                let p = document.createElement('p');
                p.textContext = msg[i];
                //lisätään viesti viestit-div:iin:
                document.querySelector('#viesti').append(p);           
            }
        });


    </script>

    <div id="viestit">
        <input type="text" id="kayttajanimi" placeholder="Käyttäjänimi">
        <input type="text" id="viesti" placeholder="Kirjoita viesti"> 
        <button id="send">Send</button>
    </div>
</body>

</html>